<aside class="sidebar">
   {% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- eugenezhulenev.com sidebar -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5772815838679190"
       data-ad-slot="9910385063"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  {% endif %}
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
